## Data Bootcamp Code Practice 1
### John Martinez, jzm218

__Question #1:__ What to these expressions do...

In [1]:
2+5 # Produces 2 plus 5

7

In [2]:
2 + 5 # Also produces 2 plus 5

7

In [3]:
2*5 # Produces 2 times 5

10

In [4]:
2/5 # Produces 2 divided by 5

0.4

In [5]:
2**5 # Produces 2 raised to the 5

32

__Question #2:__ What is the value of x after running these statements in order? Why?

In [6]:
x = 7
x = x + 3
x

10

The value of x is 10, since it is initially assigned 7, then assigned itself (7) + 3, which is 10.

__Question #3:__ What is the value of y after running these statements in order? Of x? Why?

In [7]:
x = 3 
y = x 
x = 10
print(x)
print(y)

10
3

The value of x is 10 since it was assigned 10 at the last line, overwriting its initial value. 
The value of y is 3 since it was assigned the value of x before x was overwritten. y is unaffected by the change in x because it was only assigned a copy of x.

__Question #4:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [8]:
x=3
x = x/2
y = 'abc' 
z=y+y 
print(x, z)

1.5 abcabc

The code runs without error. x is assigned 3, then itself divided by 2, producing 1.5. z is assigned y concatenated to itself, producing 'abcabc'.

__Question #5:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [9]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The code does not run without error, since line 4 tries to add a float and a string, which are incompatible with addition

__Question #6:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [ ]:
x=3
y = 24
z=y/x
print(x, y, z, sep= '|')

The code runs without error. z is assigned y divided by x, producing 8.0. x and y remain their initially assigned values, as they were simply read from in the operation.

__Question #7:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [10]:
x=3
y = '24'
z=y/x 
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

The code does not run without error, since line 3 tries to divide a string by and int, which are incompatible types for division.

__Question #8:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [11]:
x = "I am a #string"  # Whoa, a string!

The code runs without error and simply produces a string x. It turns out '#' is a valid character inside a string.

__Question #9:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [12]:
x = [1, 2, 3] 
y = [42, 43] 
z=x+y 
print(z)

[1, 2, 3, 42, 43]

The code runs without error. z is assigned x + y, which produces a list with x's items followed by y's items.

__Question #10:__ Does this code run without error? If so, what does it produce? If not, explain why.

In [13]:
x = [1, 2, 3] 
y = 42 
z=x+y

TypeError: can only concatenate list (not "int") to list

The code does not run without error. Line 3 tries to add an int to a list, which are incompatible types for addition.

__Question #11:__ What "types" are

In [14]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']

In [15]:
whos

Variable   Type     Data/Info
-----------------------------
x          list     n=3
x1         int      12
x2         float    12.0
x3         str      12.0
x4         list     n=1
x5         list     n=3
y          int      42
z          list     n=5

x1 is an int, x2 is a float, x3 is a string, and x4 and x5 are lists.

__Question #12:__ Explain the result of each line:

In [16]:
type(42) # 42 is an int literal, so its type is an int

int

In [17]:
type(42.0) # The decimal point makes 42.0 a float literal, so its type is a float

float

In [18]:
type('42.0') # '42.0' is a string with single quotes

str

In [19]:
type("""42.0""") # '42.0' is a string with triple quotes

str

In [20]:
type([1, 2]) # [1,2] is a list with two ints

list

In [21]:
type([1] + [2]) # [1] + [2] produces [1,2], which is a list

list

In [22]:
type(1 + 2) # 1 + 2 produces 3, which is an int

int

In [23]:
type(print) # print is a built-in function

builtin_function_or_method

__Question #13:__ Describe and explain the result of this statement

In [24]:
type(float(str(int('1234'))))

float

int('1234') returns 1234, which is an int.
<br>
It gets passed into str(), which returns the string '1234'
<br>
The string is passed into float(), which returns the float 1234.0
<br>
This is passed into type(), which recognizes it as a float.

__Question #14:__ Describe and explain the result of this statement

In [25]:
type(int(float('12.34')))

int

float('12.34') returns the float 12.34.
<br>
It gets passed into int(), which returns the int 12 by truncating the number at the decimal point.

__Question #15:__ Explain each line:

In [26]:
len([1234]) # len() is called on [1234], which is a list with one element, so it returns 1

1

In [27]:
len("1234") # len() is called on "1234" which is a 4-character string, so it returns 4

4

In [28]:
len(1234) 
# len() is called on the int 1234, and since ints have no defined length, it throws an error.

TypeError: object of type 'int' has no len()

__Question #16:__ What are the type and length of x = []?

In [29]:
x = [] # x is a list with length 0.
print(type(x), len(x))

<class 'list'> 0

__Question #17:__ Convert the string x = ’abcde’ to a list. What does it look like?

In [30]:
x = 'abcde'
list(x) # This looks like a list where each item is a character of x

['a', 'b', 'c', 'd', 'e']

__Question #18:__ Consider the integer x = 1234.

In [31]:
x = 1234

a. Convert x to a floating point number

In [32]:
float(x)

1234.0

b. Convert x to a string.

In [33]:
str(x)

'1234'

c. Convert x to the list [’1’, ’2’, ’3’, ’4’]

In [34]:
list(str(x))

['1', '2', '3', '4']

__Question #19:__ _Challenging._ How would you convert x to “title case” (first letter of each word capitalized)?
<br>
_Hint:_ Use tab completion to find an appropriate method.

In [35]:
x = "luke, i am your father"
x.title()

'Luke, I Am Your Father'

__Question #20:__ _Challenging._ Consider the string

In [36]:
x = "How many characters and words are in this string?"

a. How many characters does x contain?

In [37]:
len(x)

49

b. Convert x to a list of individual characters.

In [38]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

c. Convert x to a list of individual words. _Hint:_ Use tab completion to find a method that splits x into pieces.

In [39]:
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

d. How many words does x contain?

In [40]:
len(x.split())

9